html, body{
    margin: 0; /* Remove default browser margins */
    padding: 0;
    background-color: black;/* To be removed */
    --myGreen: #3F792C;
    --myYellow: #C5A545;
    --HeaderFontSize: 3rem;
    --BodyFontSize: 1rem;
}

/*Set all font to be the same*/
*{
    font-family: serif; /*This will be changed*/
}

/*All navbar and header styles*/
header{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--myYellow);
    box-sizing: border-box;
    display: flex;
    height: 90px;
    justify-content: space-between;
    padding: 10px 60px 10px 60px;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

nav{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 40%;
}

nav button{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: white;
    cursor: pointer;
    font-size: var(--BodyFontSize);
    height: 30px;
    position: relative;
    width: 100px;
    transition: all 0.3s ease;
}

nav button:hover{
    color: var(--myYellow);
}

nav button::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--myYellow);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav button:hover::after{
    transform: scaleX(0.4);
}

/*Main Content Div Styles*/
#content{
    background-color: green;
    position: static;
}

/*Home page styles*/
#homePageContainer{
    background-color: rgba(0, 0, 0, 1);
    height: 200vh;
    position: static;
    width: 100%;
}

#homePage1{
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) ), url('../static/home-bg1.png');
    background-position: 20% 60%;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content: flex-start;
    padding-left: 80px;
    width: 100%;
}

#homePage2{
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('../static/home-bg2.png');
    background-position: 30% 80%;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    width: 100%;
}

.homePageTexts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1.1ch;
}

/*Font Styles*/
.headerText{
    color: white;
    font-size: var(--HeaderFontSize);
    margin-bottom: 0;
    text-align: center;
}

.bodyText{
    color: white;
    text-align: center;
}

.highlightText{
    color: var(--myYellow);
}