html, body{
    margin: 0; /* Remove default browser margins */
    padding: 0;
    background-color: black;/* To be removed */
    --myGreen: #3F792C;
    --myYellow: #C5A545;
    --myDarkYellow: #322A12;
    --HeaderFontSize: 3rem;
    --BodyFontSize: 1.3rem;
}

/*Set all font to be the same*/
*{
    font-family: serif; /*This will be changed*/
}

/*Main Container Styles*/
#content{
    height: 100vh;
    width: 100vw;
}

/*All navbar and header styles*/
header{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--myYellow);
    box-sizing: border-box;
    display: flex;
    height: 90px;
    justify-content: space-between;
    padding: 10px 60px 10px 60px;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

nav{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 40%;
}

nav button{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: white;
    cursor: pointer;
    font-size: var(--BodyFontSize);
    height: 30px;
    position: relative;
    width: 100px;
    transition: all 0.3s ease;
}

nav button:hover{
    color: var(--myYellow);
}

nav button::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--myYellow);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav button:hover::after{
    transform: scaleX(0.5);
}

/*Main Content Div Styles*/
#content{
    background-color: green;
    position: static;
}

/*Home page styles*/
#homePageContainer{
    background-color: rgba(0, 0, 0, 1);
    height: 200vh;
    position: static;
    width: 100%;
}

#homePage1{
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) ), url('../static/home-bg1.png');
    background-position: 20% 60%;
    box-sizing: border-box;
    display: flex;
    height: 50%;
    justify-content: flex-start;
    padding-left: 80px;
    width: 100%;
}

#homePage2{
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('../static/home-bg2.png');
    background-position: 30% 80%;
    box-sizing: border-box;
    display: flex;
    height: 50%;
    justify-content: flex-end;
    width: 100%;
}

.homePageTexts{
    animation: slide-in 0.5s ease-out backwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1.1ch;
}

/*Menu Page Styles*/
#menuPage{
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url('../static/menu-bg.png');
    background-position: 30% 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-end;
    width: 100vw;
}

#menuPage p{
    animation: slide-in 0.5s ease-out backwards;
}

.menuItem{
    border: 1px solid var(--myYellow);
    padding: 2rem 2rem 0 2rem
}

/*Reserve Page Styles*/
#reservePage{
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url('../static/reserve-bg.png');
    background-position: 30% 50%;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.reserveForm .formItem{
    display: flex;
    flex-direction: column;
}

.reserveForm .formItem label{
    text-align: left;
}

.formItem input{
    background-color: var(--myDarkYellow);
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: var(--BodyFontSize);
    height: 2rem;
}

.reserveForm button{
    align-self: center;
    background-color: var(--myDarkYellow);
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    height: 50px;
    transition: all 0.5s ease;
    width: 200px;
}

.reserveForm button:hover{
    background-color: black;
    border: 1px solid var(--myYellow);
    color: var(--myYellow);
    transform: scale(1.1);
}

/*Text Section Styles*/
.textSectionHome{
    animation: slide-in linear both;
    animation-timeline: view();
    animation-range: entry 50%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-image: linear-gradient(to bottom, transparent 0%, transparent 10%, var(--myYellow) 90%) 1;
    border-left: solid 1px;
    box-sizing: border-box;
    height: 100%;
    line-height: 1.5;
    padding: 4rem 2rem 0 2rem;
    width: 40%;
}

.textSectionMenu{
    animation: slide-in 0.8s ease-out backwards;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50%;
    margin-top: 4rem;
    width: 100%;
}

.reserveForm{
    animation: slide-in 0.5s ease-out backwards;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-image: linear-gradient(to bottom, transparent 0%, transparent 10%, var(--myYellow) 90%) 1;
    border-left: solid 1px;
    border-right: solid 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 5rem 2rem 3rem 2rem;
    width: 40%;
}

/*Font Styles*/
.headerText{
    color: white;
    font-size: var(--HeaderFontSize);
    margin-bottom: 0;
    text-align: center;
}

.bodyText{
    color: white;
    font-size: var(--BodyFontSize);
    text-align: center;
}

.highlightText{
    color: var(--myYellow);
}

/*Scroll down arrow styles*/
.scroll-down-arrow{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
    animation: bounce 2s infinite;
}

/*Animation*/
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0) translateX(-50%);}
    40% {transform: translateY(-10%) translateX(-50%);}
    60% {transform: translateY(-5px) translateX(-50%);}
}